@import "style.css/--main-color";


.blog-title {
    padding-top: 50px;
    font-family: 'DM Serif Display', serif;     
}

.img-fluid {
    width: 100%;
}
.section {
    margin-top: -20px
}
.blog-subtitle, .blog-subsubtitle {
    font-family: 'DM Serif Display', serif;
}
.references, .ref-inline {
    color: rgb(192, 192, 192);
}
/* Allign jump links to fixed navbar */
.ref:before {
    display: block;
    content: "";
    height: 60px;
    margin: -60px 0 0;
}


/*
 * Sidebar
 */
.card-header, .post-date {
    color: var(--main-color);
}
.sticky-top {
    padding-top: 40px;
}

.navbar-blog .nav-link {
    color: rgb(172, 172, 172);
    padding-block: 0;
    padding-inline: 0;
}
.navbar-blog .nav-link:hover,
.navbar-blog .nav-link:focus,
.navbar-blog .active {
    color: rgb(255, 255, 255);
}

.tag {
    color: rgb(172, 172, 172);
}
.tag:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
