
/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}
:root {
  --main-color: rgb(255, 80, 80);
}

/* Custom default button */
.btn-secondary,
.btn-secondary:focus {
  color: rgb(20, 20, 20);
  background-color: white;
  border: .05rem solid #fff;
}
.btn-secondary:hover {
  background-color: var(--main-color);
  border: .05rem solid var(--main-color);
}

/*
 * Base structure
 */
html,
body {
  background-color: rgb(30, 30, 30);
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  box-shadow: inset 0 0 5rem rgb(0, 0, 0);
  position: relative;
}
section {
  padding-top: 2rem;
}
/* change text selcetion color */
::-moz-selection { 
  color: white;
  background: var(--main-color);
}
::selection {
  color: white;
  background: var(--main-color);
}


/*
 * Header
 */
.navbar {
  background: rgba(30, 30, 30, 0.95);
  z-index: 9999;
}
.masthead {
  margin-bottom: 2rem;
}
.nav-masthead .nav-link {
  padding: .2rem 0;
  font-weight: 600;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}
.nav-masthead .nav-item + .nav-item {
  margin-left: 1rem;
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: var(--main-color);
}



/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover-container {
  max-width: 65em;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
object {
	padding: 0 1.5rem;
	height: max-content;
}
.img-circle {
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
	width: 15rem;
  height: 15rem;
	margin-bottom: 2em;
	margin-top: 6em;
	box-shadow: 0 0 5rem rgb(0, 0, 0);
}
.cover-heading {
	font-family: 'DM Serif Display', serif;
}
.subheading {
	margin-top: 6rem;
	margin-bottom: .8rem;
	font-family: 'DM Serif Display', serif;
}




/*
 * Projects
 */
.card {
  background-color: rgb(41, 41, 41);
  text-align: left;
}
.card:hover {
  background-color: rgb(54, 54, 54);
}
.card-title {
	color: var(--main-color);
}



/*
 * Teaching
 */
.list-group-item {
  text-align: left;
  background-color: rgb(228, 228, 228);
  border-color: rgb(228, 228, 228);
  color: black;
}
.list-group-item.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
  color: white;
}
.list-group-item:hover {
  background-color: rgb(173, 173, 173);
  border-color: rgb(173, 173, 173);
  color: black;
  text-decoration: none !important
}
.tab-pane {
  text-align: left;
}




/*
 * Coding
 */




/*
 * Contact
 */
.social {
	margin-bottom: 6rem;
}
.social-icon {
  border-radius: 2px;
  background-color: rgb(180, 180, 180);
  display: inline-block;
  padding: 3px;
  width: 50px;
  height: 50px;
  margin: 8px;
  font-size: 27px;
}
.social-icon:hover, .social-icon:active, .social-icon:focus {
  background-color: var(--main-color);
}



/*
 * Footer
 */
.page-footer {
  color: rgba(255, 255, 255, .5);
  padding-top: 12rem;
	padding-bottom: 2rem;
  text-align: left;
}
