
/*
   Partly based on: https://codepen.io/NilsWe/pen/FemfK
*/
:root {
	--main-color: rgb(255, 80, 80);
}

/* 
  Timeline
*/
.timeline {
	position: relative;
	width: 640px;
	margin: 0 auto;
	margin-top: 20px;
	padding: 1em 0;
	list-style-type: none;
}
.timeline:before {
	position: absolute;
	left: 50%;
	top: 0;
	content: ' ';
	display: block;
	width: 6px;
	height: 100%;
	margin-left: -3px;
	background: rgb(80, 80, 80);
	background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
	background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
}
.timeline li {
	padding: 1em 0;
}
.timeline li:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.direction-l {
	position: relative;
	width: 300px;
	float: left;
	text-align: right;
}
.direction-r {
	position: relative;
	width: 300px;
	float: right;
	text-align: left;
}
.flag-wrapper {
	position: relative;
	display: inline-block;
	text-align: center;
}
.flag {
	position: relative;
	display: inline;
	background: rgb(248,248,248);
	padding: 6px 10px;
	border-radius: 5px;
	font-weight: 600;
	text-align: left;
	color: rgb(0, 0, 0);
}
.direction-l .flag:before,
.direction-r .flag:before {
	position: absolute;
	top: 50%;
	right: -1.5rem;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-top: -6px;
	background: rgb(255, 255, 255);
	border-radius: 10px;
	border: 4px solid var(--main-color);
}
.direction-r .flag:before {
	left: -1.5rem;
}
.direction-l .flag:after {
	content: "";
	position: absolute;
	left: 100%;
	top: 50%;
	height: 0;
	width: 0;
	margin-top: -8px;
	border: solid transparent;
	border-left-color: rgb(248,248,248);
	border-width: 8px;
	pointer-events: none;
}
.direction-r .flag:after {
	content: "";
	position: absolute;
	right: 100%;
	top: 50%;
	height: 0;
	width: 0;
	margin-top: -8px;
	border: solid transparent;
	border-right-color: rgb(248,248,248);
	border-width: 8px;
	pointer-events: none;
}
.desc {
	margin: 1em 0.75em 0 0;
	font-size: 0.78em;
	line-height: 1.5em;
}
.direction-r .desc {
	margin: 1em 0 0 0.75em;
}



/* 
	Timeline Media Queries
*/
@media screen and (max-width: 660px) {
	.timeline {
		width: 95%;
		padding: 4em 0 1em 0;
	}
	.timeline li {
		padding: 2em 0;
	}
	.direction-l,
	.direction-r {
		padding: 0.8em 0 0.8em 0;
		float: none;
		width: 100%;
		text-align: center;
	}
	.flag-wrapper {
		text-align: center;
	}
	.direction-l .flag:before,
	.direction-r .flag:before {
		position: absolute;
		top: -20px;
		left: 50%;
		content: ' ';
		display: block;
		width: 12px;
		height: 12px;
		margin-left: -5.5px;
		border-radius: 10px;
		border: 4px solid var(--main-color);
	}
	.direction-l .flag:after,
	.direction-r .flag:after {
		content: "";
		position: absolute;
		left: 50%;
		top: -8px;
		margin-left: -8px;
		border: solid transparent;
		border-width: 8px;
		rotate: -90deg;
		border-left-color: rgb(248,248,248);
	}
	.timeline:before {
		position: absolute;
		left: 50%;
		top: 0;
		content: ' ';
		display: block;
		width: 6px;
		height: 100%;
		margin-left: -3px;
		margin-top: -3rem;
		background: rgb(40, 40, 40);
		background: -moz-linear-gradient(top, rgba(40,40,40,0) 0%, rgb(40,40,40) 8%, rgb(40,40,40) 92%, rgba(40,40,40,0) 100%);
		background: -webkit-linear-gradient(top, rgba(40,40,40,0) 0%, rgb(40,40,40) 8%, rgb(40,40,40) 92%, rgba(40,40,40,0) 100%);
		background: -o-linear-gradient(top, rgba(40,40,40,0) 0%, rgb(40,40,40) 8%, rgb(40,40,40) 92%, rgba(40,40,40,0) 100%);
		background: -ms-linear-gradient(top, rgba(40,40,40,0) 0%, rgb(40,40,40) 8%, rgb(40,40,40) 92%, rgba(40,40,40,0) 100%);
		background: linear-gradient(to bottom, rgba(40,40,40,0) 0%, rgb(40,40,40) 8%, rgb(40,40,40) 92%, rgba(40,40,40,0) 100%);
	}
	.desc {
		font-size: 0.9em;
	}
}
